<div class="container">
<form action="/admin2-login" method="post">
{{#if loginErr}}
    <p style="color: red;">{{loginErr}}</p>
{{/if}}
    <h4>Log In</h4>
  <!-- Email input -->
  <div class="form-outline mb-4">
    <input type="email" id="form2Example1" name="email" class="form-control" placeholder="Email Address"/>
    <label class="form-label" for="form2Example1">Email address</label>
  </div>

  <!-- Password input -->
  <div class="form-outline mb-4">
    <input type="password" id="form2Example2" name="password" class="form-control" placeholder="Password"/>
    <label class="form-label" for="form2Example2">Password</label>
  </div>
  <!-- Submit button -->
  <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>
  
</form>
</div>