<div class="container">
  <form action="/admin2/adminlogin" method="post" id="admin-login">
    {{#if LoginErr}}
      <p style="color: red;">{{LoginErr}}</p>
    {{/if}}
    <h4>Log In</h4>
    <!-- Email input -->
    <div class="form-outline mb-4">
      <input
        type="email"
        id="form2Example1"
        name="email"
        class="form-control"
        placeholder="Email Address"
      />
      <label class="form-label" for="form2Example1">Email address</label>
    </div>

    <!-- Password input -->
    <div class="form-outline mb-4">
      <input
        type="password"
        id="form2Example2"
        name="password"
        class="form-control"
        placeholder="Password"
      />
      <label class="form-label" for="form2Example2">Password</label>
    </div>
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4">Login</button>

  </form>
</div>

{{!-- <script
  src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"
  integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script src="/javascripts/validation.js"></script> --}}